<div class="sticky-top" id="sidebar">
  <div class="navbar vw-100 bg-white border-bottom" id="navbar">
    <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sidebar"
      aria-expanded="true" aria-controls="collapse-sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse collapse-horizontal position-absolute border-end" id="collapse-sidebar">
    <div class="p-3 bg-white vh-100" style="width: 230px;">
      <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Simple network</span>
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <a href="/">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0">
              Your profile
            </button>
          </a>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0">
            News
          </button>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0">
            Messages
          </button>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0">
            Friends
          </button>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>