body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #222226;
    
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    display: flex;
    justify-content: center;
    background-color: #222226;
    min-height: 100vh;
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'n c';
    grid-gap: 6px;
    grid-template-columns: 170px 600px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: #333336;
    position: fixed;
    color: #fff;
}

nav {
    border-radius: 4px;
    margin-top: 65px;
    grid-area: n;
    color:#777;
}

.content {
    margin-top: 65px;
    grid-area: c;
}

.headerContent{
    width: 776px;
}

.headerContent>h4{
    cursor: pointer;
}

.navItem{
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
}

.navItem>span{
    margin-left: 10px;
}

.navItem:hover{
    background-color: #454446;
}

.post{
    width: 550px;
    margin-bottom: 14px;
    border-radius: 4px;
    background-color: #454446;
    color: #fff;
    padding: 25px;
}

.post>.imageContent{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.post>.textContent{
    margin-bottom: 25px;
}