<div class="card w-100 my-4">
  <img src="https://art.pixilart.com/919933010c85c3d.png" class="card-img-top" alt="here should be image... :(">
  <div class="card-body">
    <p class="card-text text-truncate-5">
      Some quick example text to build on the card title and make up the bulk of the card's
      content. Some quick example text to build on the card title and make up the bulk of the card's
      content. Some quick example text to build on the card title and make up the bulk of the card's
      content.
      Some quick example text to build on the card title and make up the bulk of the card's
      content.
      Some quick example text to build on the card title and make up the bulk of the card's
      content.
      Some quick example text to build on the card title and make up the bulk of the card's
      content.
    </p>
  </div>
</div>
<div class="card w-100 my-4">
  <img src="https://staticg.sportskeeda.com/editor/2021/01/7b555-16115583261375-800.jpg?w=840" class="card-img-top"
    alt="here should be image... :(">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
</div>
<div class="card w-100 my-4">
  <img
    src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/minecraft-painting-the-wanderer-canvas-print-tyler-bailey.jpg"
    class="card-img-top" alt="here should be image... :(">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
</div>