.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

main {
  align-self: center;
  max-width: 550px;
}

/* @media (min-width: 768px) { */
@media (min-width: 1030px) {
  #collapse-sidebar.collapse:not(.show) {
    display: block;
  }

  #navbar {
    display: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text-truncate-5 {
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
