.item{
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
}

.item>span{
    margin-left: 10px;
}

.item:hover{
    background-color: #454446;
}